{% extends "base.html" %}

{% block content %}
<main>
  <article class="links">
    <section>

      <aside id="main-image"></aside>
      <table class="links">
        <tr>
          <td class="link_l"> <a href="mailto:108112143+glac20@users.noreply.github.com" title="Email">Email</a> </td>
          <td class="link_r"> <a href="http://goo.gl/W2rbg2" title="Google+">Google+</a></td>
        </tr>
        <tr>
          <td class="link_l"> <a href="https://github.com/glac20" title="GitHub">GitHub</a> </td>
          <td class="link_r"> <a href="/foss.php" title="FOSS Contributions">FOSS Contributions</a> </td>
        </tr>
      </table>

    </section>
  </article>
</main>

{% endblock content %}
